# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node et gestionnaire de paquets
/node_modules
pnpm-lock.yaml.backup
npm-debug.log
yarn-error.log
package-lock.json

# Angular
/.angular/cache
/angular.json.bak

# Cache
.sass-cache/
.prettier-cache

# Build et test
/coverage
/vitest.ui
__screenshots__/
.nyc_output/

# Logs
logs/
*.log
lerna-debug.log*

# IDEs et éditeurs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo
*~

# Visual Studio Code
.vscode/
.history/
.vscode-insiders/

# WebStorm
*.iml

# Fichiers système
.DS_Store
Thumbs.db
.env.local
.env.*.local

# Fichiers temporaires
/connect.lock
/typings
*.tmp

.cours